@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
font-family: 'Quicksand', sans-serif;    

}
.navbar{
    height: 8vh;
    width: 100%;
    display: flex;
    background-color: #10634e;
}
.name{
    height: 8vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
}
.name h1{
    color: white;
    font-size: 30px;
}
.buttons{
    height: 8vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}
.buttons button{
    border: none;
background: transparent;
color: white;
padding: 10px 15px;
font-size: 16px; 
}
.portion-1{
    height:800px ;
    width: 100%; 
     background-image: bisque;
     
     
}
.img-1{
    height:800px ;
    width: 100%; 
    background-image: url("1.jpg.jpg");
     background-size: cover;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     display: flex;
     flex-direction: column;
     color: #1b745e;
     font-size: 25px;
}
.img-1 h1{
    font-weight: 200;
}
.img-1downarea{
     height:700px ;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
    width: 80%;
    margin-left: 10%; 
}
.text{
   height:500px;
   width:350px ;
    color:#0c5b47 ;
    
}
.text h1{
    font-weight: 150;
}
.text p{
font-weight:100 ;
font-size: 20px;
}
.text h3{
    font-family: "Crimson Text", serif;
    font-size: 25px;
    font-weight: 400;

}
.immg{
     height:500px;
     width:350px ;
     background-image: url("2.jpg");
}
/*  portion 2 style   */
.portion-2{
    height: 900px ;
    width: 100% ;
    background-image: url("3.jpg");
}
.heading{
    height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
     color: #0c5b47;
    display: flex;
    flex-direction: column;
}
.heading h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  color: #0c5b47;

}
.cards{
     display: flex;
 align-items: center;
 justify-content: space-around; 
 flex-direction: row;
}
.card{
    height: 449px ;
    width: 366px;
background-color: white;
}
.card1-pic{
    width: 100%;
    height: 80%;
    background-color: white;
    background-image: url("4.jpg");
    background-size: cover;
}
.card2-pic{
  width: 100%;
height: 80%;
background-color: white;
background-image: url("5.jpg");
background-size: cover;
}
.card3-pic{
   width: 100%;
height: 80%;
background-color: white;
background-image: url("6.jpg");
background-size: cover;
}
.card1-text {
    height: 20%;
    width: 100%;
    color: #0c5b47;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
 /* imgs-2 style*/


 .portion-3{
     width: 100%;
     height: 900px;
     justify-content: center;
     align-items: center;
        background-image: url("3.jpg");

}
.boximg {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.immg-1{
    height: 550px;
    width: 550px;
    justify-content: center; align-items: center;
    display:flex ; flex-direction: column;
    color: white;
    background-color: #1b745e;
}
.immg-1 button{
    padding: 15px 35px;
}
.immg-2{
     height: 550px;
 width: 550px;
 background-image: url("4.jpg");
 background-size: cover; justify-content: center;
}
.servicescard{
    width: 80%;
    height: 204px;
    margin-left: 10%;
     display: flex;
    justify-content:space-around ;
    align-items: center;
}
.scard{
    height: 80%;
    width: 230px ;
    padding: 15px;
    color: #1b745e;
   
   
   
}
.icon{
    display: inline-flex;

}
.icon i{
    font-size: 32px;
        font-weight: 500;

}
.icon h1{
    font-size: 32px;
    font-weight: 500;
    margin-left: 10px;
}
.scard p{
    font-size: 16px;
    line-height: 15px;
}
.smal{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 294px;
}
.discont{
    height: 130px;
    width: 700px;
    background-size: cover;
    background-image: url("7.jpg");
}
.discont h1{
    padding: 20px;
    color: white;
    font-size: 32px;
    font-weight: 200;
}
/*  Portfolio style*/

.Portfolio{
    min-height: 1100px;
    width: 100%;

    background-image: url("8.jpg");    
}
.portfolioname{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: #0c5b47;
     height: 250px;
     width: 100%;
}
.portfolioname h1{
    font-size: 50px;
}
.line-1{
    min-height: 500px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.line-1card{
    height:300px ;
    width:300px ;
}
.line1card1{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-image: url("3.jpg");
    background-size: cover;
    color: #0c5b47;
}
.line1card1 i{
    font-size: 40px;
}
.line1card1 h2{
    font-size: 32px;
    font-weight: 250;
}
.line1card1 button{
    padding: 15px 25px;
    color:white;
    background-color: #85b8ab;
    border: none;
}
.line1card2{
  background-image: url("4.jpg");
  background-size: cover;
}
.line1card3{
      background-image: url("5.jpg");
 background-size: cover;
}
.line1card4{
       background-image: url("4.jpg");
 background-size: cover;
}
.line1card5{
       background-image: url("9.jpg");
 background-size: cover;
}
.line1card6{
       background-image: url("4.jpg");
 background-size: cover;
}
/* subscribe  styleing*/

.subscribe{
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #0c5b47;
    flex-direction: column;
}
.subscribe i{
    font-size: 52px;

}
.subscribe h1{
     font-size: 52px;
     font-weight: 120;
}
.subscribe p{
    font-weight: 40;
    letter-spacing: 1px;
}
.inputt{
     height: 50px;
     width: 500px;
     display: flex; 
    
     
    
     
     
}
.inputt input{
    width: 70%;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0c5b47;
}
.inputt button{
    width: 30%;
    height: 100%;
    background-color: #d8e3d5;
     border: none;
 border-bottom: 1px solid #0c5b47;
}
/* footer style */
.footer{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0ecdc;
}
.sbtn{
     height: 141px;px;
     width:550px;
     margin-left: 40px;
}
.sbtn img{
     width: 120px;
}
.footercard1{
    height:141px ;
    width:183px ;
   text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footercard1 ul li{
        list-style: none;
        padding: 10px 25px;
        
}
.footercard1 ul li a{
    text-decoration: none;
}
.footercard1 h1{
    font-weight: 150;
}


